body{
	margin:40px auto;
	width:100%;
	line-height:1.6;
	font-size:18px;
	color:#444;
	padding:0 10px;
}

table{
	width: auto;
	border: gray;
	border-width: 1px;
}

td{
	border: gray;
	border-width: 1px;
}

h1, h2, h3{
	line-height:1.2
}

#search{
	height: 20px;
}

#mainName{
	height: 20px;
}

#mainImg{
	height: 20px;
}

#types{
	height: 20px;
}

#appended{
	/* scroll-behavior: auto; */
	height: 500px;
}
